body{
    color: blue;
    background-color: pink;
    }
.heading{
    width: 80%;
    font-size: 25px;
    }
#camera{
    border: 2px dashed black;
    width: 300px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
color: purple;
font-size: 20px;

}